.bb{
    background-color: black;
}

.h-logo{
    height: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.h-c-logo{
    display: flex;
    justify-content: flex-end;
}


.arrow{
    height: 15px;
}

.returnal{
    background-image: url(img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    background-position: center;
}

.bot-r{
    border-radius: 50px;
    padding: 8px;
}

.gri-sc{
    background-color: rgb(53, 53, 53);
}

.gri-or{
    background-color: tomato;
}

.gri{
    color: rgb(53, 53, 53);
}

.bc{
    color: blue;
}

.blu-sc{
    background-color: blue;
}

.w{
    color: white;
}

.m-{
    margin-left: 30px;
}

.mt{
    margin-top: 50px;
}

.h-ret{
    height: 30px;
}

.or-w{
    width: 120px;
}

.mb-{
    margin-bottom: 30px;
}

.acc-w{
    width: 175px;
}

.game-img{
    border-radius: 25px;
    margin-top: 15px;
}

.container-img{
    width: 90%;
    margin: 0 auto;
}

.takestwo{
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    background-position: center;
}

.wi-100{
    width: 100%;
}